<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Churn Prediction</title>
</head>
<body>
	<h1>Customer Churn Prediction</h1>
    {% if result %}
        <p>Customer is likely to <strong>{{ result }} <strong> </p> <br>
		<a href='/'>Home</a> <br> <br>
    {% endif %}
	
    <form method="post" action="/predict">
        <label>Tenure</label><br>
        <input type="number" name="tenure"><br><br>

        <label>NumberOfDeviceRegistered</label><br>
        <input type="number" name="nod"><br><br>

        <label>SatisfactionScore</label><br>
        <input type="number" name="ss"><br><br>
		
		<label>Complain</label><br>
        <input type="number" name="complain"><br><br>
		
		<label>DaySinceLastOrder</label><br>
        <input type="number" name="dslo"><br><br>
		
		<label>CashbackAmount</label><br>
        <input type="number" name="cba"><br><br>

        <input type="submit" value="Predict"><br><br>
    </form>

</body>
</html>